# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================

venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================

.env

# =========================
# VS Code
# =========================

.vscode/

# =========================
# PyCharm
# =========================

.idea/

# =========================
# Logs
# =========================

*.log

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Python Cache
# =========================

.pytest_cache/
.mypy_cache/

# =========================
# SQLite
# =========================

*.db

# =========================
# Coverage
# =========================

.coverage
htmlcov/

# =========================
# Build
# =========================

build/
dist/
*.egg-info/

# =========================
# Misc
# =========================

*.tmp
*.bak